.line   {

color: yellow;
}
h2 {

    color: darkgoldenrod;
}
hr {
  border-color: chocolate;
}
 .color {

    background-color: rgba(159, 170, 4, 0.5);

    height:50% ;
 }
    
 #foto_profilo {
    display:block;
    margin: 0 auto;        
 }

#nome {
    text-align: center;
}
 
.line1 {
    border-top: 2px;
    border-bottom: 2px solid darkgoldenrod;
  }
  
  .line2 {
    border-top: 2px;
    border-bottom: 2px solid darkgoldenrod;
  } 