body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
     
}

.container{
    width: 1000px;
    margin: auto;
    padding-top: 50px;
}


.popup-wrapper {
    background-color: rgba(19, 18, 18, 0.5);
    padding: 10px;
    border-radius: 20px;
    padding-bottom: 80px;
}

.container-logo {
    background-size: cover;
    height: 120px;
    width: 300px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    padding-top: 10%;
}

.title-green {
    text-align: center;
    color: rgb(50, 212, 0);
    margin-top: 20px;
}

.top-bar {
    background-color: rgb(0, 212, 0);
    width: 90%;
    text-align: center;
    margin: 0 auto;

}

.bottom {
    display: inline-block;
    margin: 5px;
}

.monopattino {
    padding: 15px;
    margin: 0 auto;
    width: 90%;
}

.name-section {
    font-weight: bold;
}

.battery {
    background-color: coral;
    width: 100px;
    height: 23px;
    border-radius: 5px;
}

.battery1 {
    background-color: rgb(7, 105, 15);
    width: 300px;
    height: 23px;
    border-radius: 5px;
}

.battery2 {
    background-color: rgb(141, 23, 3);
    width: 50px;
    height: 23px;
    border-radius: 5px;
}